.row {
  margin:0 auto;
  margin-top:4rem;
  width:1260px;
}
@media only screen and (max-width: 1279px) and (min-width: 1140px) {
  .row {
    width: 1140px;
  }
}
@media only screen and (max-width: 1139px) and (min-width: 1024px) {
  .row {
    width: 1024px;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .row {
    width: 768px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .row {
    width: 480px;
  }
}
@media only screen and (max-width: 479px) {
  .row {
    width: 100%;
  }
}