.row {
  margin:3rem auto;
  width:1260px;
}
.top {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.top h2 {
  font-size: 5rem;
  background-color: #EF233C;
  color: white;
  display: inline-block;
  margin:0 0 1rem;
  padding:1rem;
}
.subHeading {
  padding:3rem 0 1rem;
  margin-top:2rem;
  font-size:2rem;
  text-align: center;
  text-transform: uppercase;
  color:#2b2d42;
  border-top: 1px solid;
  border-image: linear-gradient(to right, #F7F9FA, #e0e0e0, #e0e0e0, #F7F9FA) 1 1;
}
@media only screen and (max-width: 1279px) and (min-width: 1140px) {
  .row {
    width: 1140px;
  }
}
@media only screen and (max-width: 1139px) and (min-width: 1024px) {
  .row {
    width: 1024px;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .row {
    width: 768px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .row {
    width: 480px;
  }
}
@media only screen and (max-width: 479px) {
  .row {
    width: 100%;
  }
}